body{
    background-color: rgb(72, 182, 233);
}
.bold{
    font-weight: bold;
    font-family: cursive;
}
p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}
li{
    font-family: cursive;
}
ul{
    font-style: italic;
}
body{
    background-color: rgb(72, 182, 233);
}
.floatRight{
    float:right;margin-left:5px;
}
.imageright{
    right: 5px;
}
.anchor{
    font-family: cursive;
}
.link {
    color: rgb(211, 84, 11);
    text-decoration: underline;
    font-weight: bold;
}
